<html ng-app="app">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>angular-validator</title>
    <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="example/site.css"/>
    <script type="text/javascript" src="submodules/angularjs/angular.1.1.5.min.js"></script>
    <script type="text/javascript" src="dist/angular-validator.js"></script>
    <script type="text/javascript" src="dist/angular-validator-rules.js"></script>
    <script type="text/javascript" src="example/demo.js"></script>
</head>
<body class="container">
    <div class="row">
        <div class="col-md-12" ng-controller="DemoController">
            <!-- $watch -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">$watch</h3>
                </div>
                <form class="form-horizontal panel-body">
                    <div class="form-group">
                        <label for="required0" class="col-md-2 control-label">Required</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formWatch.required" validator="[required]" class="form-control" id="required0" placeholder="Required" autofocus/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="regexp0" class="col-md-2 control-label">RegExp [a-z]</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formWatch.regexp" validator="/[a-z]/" validator-invokes="watch" validator-error="it should be /[a-z]/" class="form-control" id="regexp0" placeholder="RegExp [a-z]"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="http0" class="col-md-2 control-label">$http</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formWatch.http" validator="[backendWatch]" class="form-control" id="http0" placeholder="do not use 'Kelp' or 'x'"/>
                        </div>
                    </div>
                </form>

                <div class="panel-footer">{{formWatch}}</div>
            </div>

            <!-- submit -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">submit</h3>
                </div>
                <form class="form-horizontal panel-body">
                    <div class="form-group">
                        <label for="required2" class="col-md-2 control-label">Required</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formSubmit.required" validator="[requiredSubmit]" class="form-control" id="required2" placeholder="Required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="regexp2" class="col-md-2 control-label">RegExp [a-z]</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formSubmit.regexp" validator="/[a-z]/" validator-error="it should be /[a-z]/" class="form-control" id="regexp2" placeholder="RegExp [a-z]"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="http2" class="col-md-2 control-label">$http</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formSubmit.http" validator="[backendSubmit]" class="form-control" id="http2" placeholder="do not use 'Kelp' or 'x'"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" ng-click="submit()" class="btn btn-default"/>
                        </div>
                    </div>
                </form>

                <div class="panel-footer">{{formSubmit}}</div>
            </div>

            <!-- blur -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">blur</h3>
                </div>
                <form class="form-horizontal panel-body">
                    <div class="form-group">
                        <label for="required0" class="col-md-2 control-label">Required</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formBlur.required" validator="[requiredBlur]" class="form-control" id="required0" placeholder="Required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="regexp0" class="col-md-2 control-label">RegExp [a-z]</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formBlur.regexp" validator="/[a-z]/" validator-invokes="blur" validator-error="it should be /[a-z]/" class="form-control" id="regexp0" placeholder="RegExp [a-z]"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="http0" class="col-md-2 control-label">$http</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formBlur.http" validator="[backendWatch]" class="form-control" id="http0" placeholder="do not use 'Kelp' or 'x'"/>
                        </div>
                    </div>
                </form>

                <div class="panel-footer">{{formBlur}}</div>
            </div>
        </div>
    </div>

    <a href="https://github.com/kelp404/angular-validator" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
</body>
</html>