<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>angular-validator</title>
    <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="example/site.css"/>
    <script type="text/javascript" src="//code.angularjs.org/1.2.18/angular.min.js"></script>
    <script type="text/javascript" src="dist/angular-validator.js"></script>
    <script type="text/javascript" src="dist/angular-validator-rules.js"></script>
    <script type="text/javascript" src="example/demo.js"></script>
</head>
<body class="container">
    <div class="row">
        <div class="col-md-12" ng-controller="DemoController">
            <!-- $watch -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">$watch</h3>
                </div>
                <form name="formA" class="form-horizontal panel-body">
                    <div class="alert alert-danger" ng-if="formA.$invalid">Form Error!!</div>
                    <div class="alert alert-success" ng-if="!formA.$invalid">Form Success!!</div>
                    <div class="form-group">
                        <label for="required0" class="col-md-2 control-label">Required</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formWatch.required" validator="[required]" class="form-control" id="required0" placeholder="Required" autofocus/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="regexp0" class="col-md-2 control-label">RegExp [a-z]</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formWatch.regexp" validator="/[a-z]/" validator-invoke="watch" validator-error="it should be /[a-z]/" class="form-control" id="regexp0" placeholder="RegExp [a-z]"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="number0" class="col-md-2 control-label">Number 1</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formWatch.number" validator="[required, number]" class="form-control" id="number0" placeholder="Number, Required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="number20" class="col-md-2 control-label">Number 2</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formWatch.number2" validator="[number, customLess]" class="form-control" id="number20" placeholder="it should less than number 1"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="http0" class="col-md-2 control-label">$http</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formWatch.http" validator="[backendWatch]" class="form-control" id="http0" placeholder="do not use 'Kelp' or 'x'"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="requiredRun0" class="col-md-2 control-label">Required</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formWatch.requiredRun" validator="[requiredRun]" class="form-control" id="requiredRun0" placeholder="Required"/>
                            <span>The rule of this field is register in angular.module.run()</span><br/>
                        </div>
                    </div>
                </form>

                <div class="panel-footer">{{formWatch}}</div>
            </div>

            <!-- submit -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">submit</h3>
                </div>
                <form class="form-horizontal panel-body">
                    <div class="form-group">
                        <label for="required2" class="col-md-2 control-label">Required</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formSubmit.required" validator="[requiredSubmit]" class="form-control" id="required2" placeholder="Required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="regexp2" class="col-md-2 control-label">RegExp [a-z]</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formSubmit.regexp" validator="/[a-z]/" validator-error="it should be /[a-z]/" class="form-control" id="regexp2" placeholder="RegExp [a-z]"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="number2" class="col-md-2 control-label">Number</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formSubmit.number" validator="[numberSubmit, requiredSubmit]" class="form-control" id="number2" placeholder="Number, Required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="http2" class="col-md-2 control-label">$http</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formSubmit.http" validator="[backendSubmit]" class="form-control" id="http2" placeholder="do not use 'Kelp' or 'x'"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" ng-click="formSubmit.submit()" class="btn btn-default"/>
                            <input type="button" ng-click="formSubmit.reset()" class="btn btn-default" value="Reset"/>
                        </div>
                    </div>
                </form>

                <div class="panel-footer">{{formSubmit}}</div>
            </div>

            <!-- blur -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">blur</h3>
                </div>
                <form class="form-horizontal panel-body">
                    <div class="form-group">
                        <label for="required1" class="col-md-2 control-label">Required</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formBlur.required" validator="[requiredBlur]" class="form-control" id="required1" placeholder="Required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email1" class="col-md-2 control-label">Email</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formBlur.email" validator="[email]" class="form-control" id="email1" placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="url1" class="col-md-2 control-label">Url</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formBlur.url" validator="[url]" class="form-control" id="url1" placeholder="Url" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="regexp1" class="col-md-2 control-label">RegExp [a-z]</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formBlur.regexp" validator="/[a-z]/" validator-invoke="blur" validator-error="it should be /[a-z]/" class="form-control" id="regexp1" placeholder="RegExp [a-z]"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="http1" class="col-md-2 control-label">$http</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="formBlur.http" validator="[backendBlur]" class="form-control" id="http1" placeholder="do not use 'Kelp' or 'x'"/>
                        </div>
                    </div>
                </form>

                <div class="panel-footer">{{formBlur}}</div>
            </div>

            <!-- ng-repeat -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">ng-repeat</h3>
                </div>
                <form class="form-horizontal panel-body">
                    <div class="form-group" ng-repeat="item in formRepeat.model">
                        <label for="repeat{{$index}}" class="col-md-2 control-label">Number</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="item.value" validator="[required, number]" class="form-control" id="repeat{{$index}}" placeholder="Required, Number" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" ng-click="formRepeat.submit()" class="btn btn-default"/>
                            <input type="button" ng-click="formRepeat.reset()" class="btn btn-default" value="Reset"/>
                        </div>
                    </div>
                </form>

                <div class="panel-footer">{{formRepeat}}</div>
            </div>
        </div>
    </div>

    <a href="https://github.com/kelp404/angular-validator" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
</body>
</html>
